## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sola,VU,-13.88,167.55,79.36,78,94,11.77,overcast clouds
1,1,Rikitea,PF,-23.12,-134.97,73.35,74,100,9.47,overcast clouds
2,2,Nikolskoye,RU,59.70,30.79,58.87,79,97,2.15,overcast clouds
3,3,Michurinsk,RU,52.90,40.49,62.17,93,100,5.09,light rain
4,4,Kapaa,US,22.08,-159.32,83.19,71,20,8.23,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sola,VU,-13.88,167.55,79.36,78,94,11.77,overcast clouds
1,1,Rikitea,PF,-23.12,-134.97,73.35,74,100,9.47,overcast clouds
2,2,Nikolskoye,RU,59.70,30.79,58.87,79,97,2.15,overcast clouds
3,3,Michurinsk,RU,52.90,40.49,62.17,93,100,5.09,light rain
4,4,Kapaa,US,22.08,-159.32,83.19,71,20,8.23,few clouds
5,5,Hilo,US,19.73,-155.09,90.28,69,0,5.14,clear sky
8,8,Kropotkin,RU,45.44,40.58,70.97,52,6,5.46,clear sky
9,9,Atuona,PF,-9.80,-139.03,77.50,72,0,9.88,clear sky
12,12,Miyako,JP,39.64,141.95,81.46,76,100,1.16,overcast clouds
14,14,Sioux Lookout,CA,50.10,-91.92,56.37,67,0,1.81,clear sky

In [5]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sola,VU,-13.88,167.55,79.36,78,94,11.77,overcast clouds
1,1,Rikitea,PF,-23.12,-134.97,73.35,74,100,9.47,overcast clouds
2,2,Nikolskoye,RU,59.70,30.79,58.87,79,97,2.15,overcast clouds
3,3,Michurinsk,RU,52.90,40.49,62.17,93,100,5.09,light rain
4,4,Kapaa,US,22.08,-159.32,83.19,71,20,8.23,few clouds
5,5,Hilo,US,19.73,-155.09,90.28,69,0,5.14,clear sky
8,8,Kropotkin,RU,45.44,40.58,70.97,52,6,5.46,clear sky
9,9,Atuona,PF,-9.80,-139.03,77.50,72,0,9.88,clear sky
12,12,Miyako,JP,39.64,141.95,81.46,76,100,1.16,overcast clouds
14,14,Sioux Lookout,CA,50.10,-91.92,56.37,67,0,1.81,clear sky
15,15,San Giovanni Rotondo,IT,41.70,15.72,67.62,78,0,4.63,clear sky
17,17,Puerto Ayora,EC,-0.74,-90.35,69.55,93,93,2.68,overcast clouds
18,18,Ambon,ID,-3.70,128.18,86.14,70,40,1.54,scattered clouds
19,19,Albany,US,42.60,-73.97,67.89,84,13,1.57,few clouds
20,20,Kahului,US,20.89,-156.47,89.62,59,20,13.89,few clouds
22,22,Ambulu,ID,-8.35,113.61,82.24,72,36,1.17,scattered clouds
25,25,Kalmunai,LK,7.42,81.82,80.74,64,97,1.66,overcast clouds
26,26,Saint Andrews,US,34.05,-81.13,84.29,60,40,2.06,scattered clouds
27,27,El Retorno,CO,2.33,-72.63,71.01,97,74,0.80,broken clouds
29,29,Mahajanga,MG,-15.72,46.32,66.22,59,20,4.12,few clouds
30,30,Isangel,VU,-19.55,169.27,77.11,57,75,5.14,broken clouds
33,33,Busselton,AU,-33.65,115.33,57.65,69,70,1.96,broken clouds
34,34,Carnarvon,AU,-24.87,113.63,62.17,40,0,8.32,clear sky
35,35,Tuscaloosa,US,33.21,-87.57,78.58,89,0,1.54,clear sky
36,36,Cape Town,ZA,-33.93,18.42,56.12,94,20,3.09,few clouds
38,38,Butaritari,KI,3.07,172.79,81.84,73,14,6.59,few clouds
39,39,Saint-Philippe,RE,-21.36,55.77,65.79,80,84,6.39,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sola,VU,79.36,overcast clouds,-13.88,167.55,
1,Rikitea,PF,73.35,overcast clouds,-23.12,-134.97,
2,Nikolskoye,RU,58.87,overcast clouds,59.70,30.79,
3,Michurinsk,RU,62.17,light rain,52.90,40.49,
4,Kapaa,US,83.19,few clouds,22.08,-159.32,
5,Hilo,US,90.28,clear sky,19.73,-155.09,
8,Kropotkin,RU,70.97,clear sky,45.44,40.58,
9,Atuona,PF,77.50,clear sky,-9.80,-139.03,
12,Miyako,JP,81.46,overcast clouds,39.64,141.95,
14,Sioux Lookout,CA,56.37,clear sky,50.10,-91.92,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna(subset=['Hotel Name'])

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))